/*
.party-creation {
	height: 100px;
	position: fixed;
	bottom: 0px;
}

.comment-creation {
	height: 100px;
	position: fixed;
	bottom: 0px;
}
*/

/*
.store-creation {
	vertical-align: bottom;
}

.ready-to-create {
	vertical-align: bottom;
}
*/