<!DOCTYPE html>
<html ng-app="main">
  <head>
    <title>便當來了</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- link href="material/css/material.min.css" rel="stylesheet" media="screen" -->
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <!--
    View structures:
    * container
      * main-navbar
      * main-view/party-view
    -->
    <div class="container">
      <!-- navbar -->
      <div ng-include="'header'"></div>

      <div class="main-view" ng-controller="mainController">
        <!-- week-bar: 1 2 2 2 2 2 1 -->
        <div class="row">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="day in daysInWeek" ng-class="{ active: $index == todayDay }">
              <a href="javascript:void(0)">{{day | date: medium}}</a>
            </li>
          </ul>
        </div>

        <!-- Empty row -->
        <div class="row">
          </br>
        </div>

        <!-- parties-list; show as tab list -->
        <div class="row">
          <ul class="nav nav-pills" class="today-parties">
            <li class="today-party" ng-repeat="todayParty in todayParties" ng-class="{active: todayParties[$index].active}">
              <a href="javascript:void(0)">{{todayParty.name}}</a>
            </li>
          </ul>

        </div>

        <!-- party and orders info -->
        <div class="row">
          <!-- product-info -->
          <div class="col-md-4">
            <!-- store info -->
            <div ng-show="selectOrderSummary == null">
              <p>{{storeName}}</p>
            </div>

            <div ng-show="selectOrderSummary != null" class="product-info">
              <!-- p>Product Info</p -->
              <!-- product name -->
              <div class="row">
                <p>學名：{{selectOrderSummary.product}}</p>
              </div>

              <!-- product price -->
              <div class="row">
                <p>售價：{{selectOrderSummary.price}}</p>
              </div>

              <!-- rate -->
              <div class="row">
                <!-- p>分數：{{selectOrderSummary.rate}}</p -->
              </div>

              <!-- comments list -->
              <div class="row">
                <p>評論</p>
                <ul>
                  <li ng-repeat="comment in selectProductComments">
                    <a href="">{{comment.user_name}}</a>
                    <p>分數：{{comment.stars}}</p>
                    <p>{{comment.text}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- party-info -->
          <div class="col-md-8">
            <div class="party-info">
              <!-- search input -->
              <div class="row search-orders">
                <form class="navbar-form navbar-left">
                  <input type="text" class="form-control col-lg-8" placeholder="快速搜尋">
                </form>
              </div>

              <!-- orders list -->
              <div class="row">
                <div class="orders-list">
                  <!-- table -->
                  <table class="table table-striped table-hover ">
                    <thead>
                      <tr>
                        <th>吃什麼</th>
                        <th>價錢</th>
                        <th>誰訂了</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="orderSummary in orderSummaries" ng-class="{info: orderSummary === selectOrderSummary}">
                        <td>
                          <a href="" ng-click="clickOrder(orderSummary)">
                            {{orderSummary.product}}
                          </a>
                        </td>
                        <td>{{orderSummary.price}}</td>
                        <td>
                          <span class="tag label label-success" ng-repeat="user in orderSummary.users">
                            <span>{{user.name}}</span>
                            <a ng-show="userID == user.id"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                          </span>
                          <!-- a ng-repeat="user in orderSummary.users" href="javascript:void(0)">
                            {{user.name}}
                          </a -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- ready to order -->
              <div class="row">
                <form name="orderForm" ng-submit="inputOrder.submitOrder()">
                  <!-- ready to order -->
                  <div class="col-md-10">
                      <input type="text" name="inputProduct" placeholder="菜單上沒有？直接輸入" ng-model="inputOrder.productName" required>

                    <!-- verify inputProduct -->
                    <div role="alert">
                      <span class="error" ng-show="orderForm.inputProduct.$error.required">
                        Required!
                      </span>
                    </div>

                    <label>
                      金額：
                      <input type="text" name="inputPrice" placeholder="金額" ng-model="inputOrder.price" required>
                    </label>
                    <input type="text" name="inputNote" placeholder="備註" ng-model="inputOrder.note">
                  </div>

                  <!-- submission -->
                  <div class="col-md-2">
                    <input type="submit" id="submit" value="訂購" class="btn btn-success btn-lg"/>
                  </div>
                </form>
              </div>

              <!-- ordered and ready to modify -->
              <!-- div class="row" ng-show="userInOrderSummaries() == true">
                <p>修改</p>
              </div -->
            </div>
          </div>
        </div>
      </div> <!-- end of main-view -->

      <div class="party-view">

      </div>
    </div>

    <!-- scripts -->
    <!-- script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- script type="text/javascript" src="material/js/material.min.js"></script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

    <!-- user scripts -->
    <script src="javascripts/cookies.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>