<!DOCTYPE html>
<html ng-app="main">
  <head>
    <title>便當來了</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="material/css/material.min.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css' />
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
  </head>
  <body ng-controller="mainController">

    <div class="container">
      <!-- div class="row">
        <div class="col-md-3">
          <div class="header">
            <h1>要吃啥？</h1>
            <hr>
            <h1 class="lead">所有你想吃的都在此。</h1>
          </div>
        </div>
      </div -->

      <!-- navbar -->
      <div class="row">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">便當來了</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)">Active</a></li>
                    <li><a href="javascript:void(0)">Link</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="logout" href="javascript:void(0)">Log out</a></li>
                            <li><a href="javascript:void(0)">Another action</a></li>
                            <li><a href="javascript:void(0)">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
      </div>

      <!-- week-bar: 1 2 2 2 2 2 1 -->
      <div class="row">
        <div class="col-md-1">
          <div class="day-0">
            <p></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="day-1">
            <p></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="day-2">
            <p></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="day-3">
            <p></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="day-4">
            <p></p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="day-5">
            <p></p>
          </div>
        </div>

        <div class="col-md-1">
          <div class="day-6">
            <p></p>
          </div>
        </div>

      </div>

      <!-- parties-list; show as tab list -->
      <div class="row">
        <ul class="nav nav-pills" class="today-parties">
          <li class="today-party" ng-repeat="todayParty in todayParties" ng-class="{active: todayParties[$index].active}">
            <a href="javascript:void(0)">{{todayParty.name}}</a>
          </li>
        </ul>

      </div>

      <!-- party and orders info -->
      <div class="row">
        <!-- product-info -->
        <div class="col-md-4">
          <!-- store info -->
          <div ng-show="selectOrderSummary == null">
            <p>{{storeName}}</p>
          </div>

          <div ng-show="selectOrderSummary != null" class="product-info">
            <!-- p>Product Info</p -->
            <!-- product name -->
            <div class="row"></div>

            <!-- product price -->
            <div class="row"></div>

            <!-- rate -->
            <div class="row"></div>

            <!-- comments list -->
            <div class="row"></div>
          </div>
        </div>
        <!-- party-info -->
        <div class="col-md-8">
          <div class="party-info">
            <!-- search input -->
            <div class="row search-orders">
              <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="快速搜尋">
              </form>
            </div>

            <!-- orders list -->
            <div class="row">
              <div class="orders-list">
                <!-- table -->
                <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th>吃什麼</th>
                      <th>價錢</th>
                      <th>誰訂了</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="orderSummary in orderSummaries" ng-class="{info: orderSummary === selectOrderSummary}">
                      <td>
                        <a ng-click="clickOrder(orderSummary)">
                          {{orderSummary.product}}
                        </a>
                      </td>
                      <td>{{orderSummary.price}}</td>
                      <td>
                        <a ng-repeat="user in orderSummary.users" href="javascript:void(0)">
                          {{user.name}}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- create order -->
            <div class="row input-area"></div>
          </div>
        </div>
      </div>

      <div class="col-md-0">
          <!--
          <div class="btn-group-vertical">
            <a href="#" class="btn btn-default">查看</a>
            <a href="#" class="btn btn-default">編輯</a>
            <a href="#" class="btn btn-default">設定</a>
          </div>
          -->

          <!-- div class="side-bar">

            <div class="todo-form">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.text">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add Todo</button>
              </form>
            </div>

            <br></br>

            <div class="todo-list">
              <div class="checkbox" ng-repeat="todo in todoData" repeat-done="layoutDone()">
                    <label>
                      <input class="lead" type="checkbox" ng-click="deleteTodo(todo.id)">{{ todo.text }}</input>
                    </label>
                <hr>
              </div>
            </div>
          </div -->
        </div>
    </div>

    <!-- scripts -->
    <!-- script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="material/js/material.min.js"></script>>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

    <!-- calendar scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.js"></script>

    <!-- user scripts -->
    <script src="javascripts/cookies.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>