<!DOCTYPE html>
<html ng-app="main">

<head>
    <title>便當來了</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- link href="material/css/material.min.css" rel="stylesheet" media="screen" -->
    
    <!-- 3rd party styles -->
    <link href="stylesheets/loading-bar.min.css" rel="stylesheet" media="screen">
    <link href="bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" rel="stylesheet" media="screen">
    
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <link href="stylesheets/index.css" rel="stylesheet" media="screen">
</head>

<body>
    <!--
    View structures:
    * container
      * main-navbar
      * main-view/party-view
    -->
    <div class="container" hidden>
        <!-- navbar -->
        <div ng-include="'header'"></div>

        <div class="main-view" ng-controller="mainController">
            
            <!-- week-bar: 1 2 2 2 2 2 1 -->
            <div class="row">
                <ul class="nav nav-tabs nav-justified">
                    <li>
                        <a  
                          class="dropdown-toggle" 
                          id="dropdown1" 
                          role="button" 
                          data-toggle="dropdown" 
                          data-target="#" 
                          href="#">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            <strong>跳到某天</strong>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker 
                                data-ng-model="data.dateDropDownLink"
                                data-on-set-time="clickDate(newDate)" 
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView: 'day' }"/>
                        </ul>
                    </li>
                    
                    <li 
                      ng-repeat="day in daysInWeek"
                      ng-class="{ active: $index == todayDay }"
                      role="presentation">
                        <a 
                          href="javascript:void(0)" 
                          ng-click="clickDate(day)">
                              <strong>
                                  {{ day | weekDayFilter }}
                              </strong>
                        </a>
                    </li>
                    
                    
                </ul>


                
                
            </div>

            <!-- party and orders info -->
            <div class="no-party-view" ng-show="todayParties.length == 0">
                <a>今天沒有團喔！</a>
            </div>
            <div class="row parties-orders" ng-show="todayParties.length > 0">
                <!-- product-info -->
                <div class="col-md-4 panel panel-default main-layout-small box-shadow--8dp">

                    <!-- parties-list; show as combobox -->
                    <div class="dropdown parties-list" ng-show="todayParties.length > 0">
                        <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                            {{activeParty.expiredDate | date: 'yyyy-MM-dd' }} {{ activeParty.name }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
                            <li  
                              ng-repeat="todayParty in todayParties" 
                              ng-class="{active: todayParty.party_id == activeParty.party_id }"
                              title="{{todayParty.name}}"
                              class="today-party">
                                <a 
                                  href="javascript:void(0)" 
                                  ng-click="clickParty(todayParty)">
                                    
                                    <span
                                      ng-show="todayParty.ready"
                                      class="tag label label-default pull-right box-shadow--2dp">
                                        已扣款
                                    </span>
                                    
                                    <span
                                      ng-show="!todayParty.ready && todayParty.expiredDate.getDate() == paramDate.getDate()"
                                      class="tag label label-warning pull-right box-shadow--2dp">
                                        這天截止
                                    </span>
                                    
                                    {{ todayParty.expiredDate | date: 'yyyy-MM-dd' }} {{todayParty.name}}
                                </a>
                            </li>
                        </ul>
                        
                        <!-- span class="glyphicons glyphicons-edit"></span -->
                    </div>
                    <div>
                        <h4><strong>店家：</strong>{{activeStore.name}}</h4>
                        <p><strong>開始時間：</strong>{{activeParty.createDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                        <p><strong>結束時間：</strong>{{activeParty.expiredDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
                        
                    </div>
                    
                    <br/>

                    <!-- store info -->
                    <div ng-show="selectOrderSummary == null">
                        <a href="{{ activeStore.image }}" target="_blank" class="thumbnail">
                            <img ng-src="{{ activeStore.image || '//:0' }}" alt="Description">
                        </a>
                    </div>

                    <div ng-show="selectOrderSummary != null" class="product-info panel panel-default">
                        <div class="panel-body">
                            <!-- p>Product Info</p -->
                            <!-- product name -->
                            <h5>
                                <strong>學名：</strong>{{selectOrderSummary.product}}
                                <button ng-show="userInfo.role >=1 && selectOrderSummary.product_id < 0" ng-click="selectOrderSummary.addProduct()" type="button" class="btn btn-default" aria-label="Add product" title="目前還未建檔！點擊新增">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </h5>

                            <!-- product price -->
                            <h5><strong>售價：</strong>{{selectOrderSummary.price | currency}}</h5>

                            <!-- comments list -->
                            
                            <div ng-show="selectProductComments.length > 0" class="comment-list">
                                <h5><strong>評論：</strong></h5>
                                <ul>
                                    <li ng-repeat="comment in selectProductComments">
                                        <div class="panel panel-default box-shadow--2dp">
                                            <div class="panel-heading">
                                                <span>
                                                    <a href="">{{comment.user_name}}</a>
                                                </span>
                                                <span> 分數：{{comment.stars}}</span>
                                                <span class="pull-right" ng-attr-title="{{ comment.date | date: 'yyyy-MM-dd HH:mm:ss' }}">
                                                    {{ comment.date | date: 'MM/dd' }}
                                                </span>
                                            </div>
                                            
                                            <div class="panel-body">
                                                <p>{{comment.text}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <comment-creation></comment-creation>
                        </div>
                    </div>
                </div>
                
                <!-- party-info -->
                <div class="col-md-8 panel panel-default main-layout-small box-shadow--8dp">
                    <div class="party-info">

                        <div class="row">
                            <!-- search input -->
                            <div class="search-orders">
                                <form class="navbar-form navbar-left">
                                    <input type="text" class="form-control col-lg-8" placeholder="快速搜尋" ng-model="productFilterValue">
                                </form>
                            </div>

                            <!-- 結案鈕 -->
                            <div class="clearing">
                                <button 
                                  ng-click="activePartyResult.onShow()" 
                                  ng-show="activeParty != null" 
                                  ng-class="{ 'btn-success': !activeParty.ready, 'btn-default': activeParty.ready }"
                                  class="btn pull-right show-result-btn" 
                                  type="button" data-toggle="modal">
                                    結算
                                </button>
                            </div>

                            <!-- 剩餘時間 -->
                            <div class="pull-right">
                                <div ng-show="activeParty.ready" class="label label-default">
                                    <span>已扣款</span>
                                </div>
                            </div>
                            
                            <div ng-show="!activeParty.ready" class="pull-right">
                                <div 
                                  ng-show="today.getTime() < activeParty.createDate.getTime()"
                                  class="label label-info">
                                    <span>還沒開始！</span>
                                </div>
                                <div 
                                  ng-show="activeParty.createDate.getTime() <= today.getTime() && today.getTime() <= activeParty.expiredDate.getTime()"
                                  class="label label-warning">
                                    <timer end-time="activeParty.expiredDate">還有 {{days}} 天 {{hours}} 時 {{minutes}} 分 {{seconds}} 秒 結束</timer>
                                </div>
                                <div 
                                  ng-show="activeParty.expiredDate.getTime() < today.getTime()"
                                  class="label label-danger">
                                    <span>已到期</span>
                                </div>
                            </div>

                            <!-- 統計Modal -->
                            <div class="modal fade" id="party-result-modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">{{ activeParty.name }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>店家：{{ activeStore.name }}</p>
                                            <p>電話：{{ activeStore.phoneNumber }}</p>
                                            <p>滿多少外送：{{ activeStore.minSpending }}</p>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>項目</th>
                                                        <th>單價</th>
                                                        <th>數量</th>
                                                        <th>備註</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="orderResult in activePartyResult.orderResults | orderBy: 'product' | availableResultFilter">
                                                    <td>{{ orderResult.product }}</td>
                                                    <td>{{ orderResult.price | currency }}</td>
                                                    <td>{{ orderResult.users.length | emptyCountFilter }}</td>
                                                    
                                                    <td>
                                                        <ul>
                                                            <li ng-repeat="user in orderResult.users">
                                                                <p ng-show="user.note !== ''">
                                                                    <strong>{{ user.name }}</strong>：{{ user.note }}
                                                                </p>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Total</strong></td>
                                                    <td><strong>{{ activePartyResult.getTotalPrice() | currency }}</strong></td>
                                                    <td><strong>{{ activePartyResult.getTotalCount() }}</strong></td>
                                                    <td></td>
                                                </tr>
                                                <tbody>

                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                                            <button type="button" class="btn btn-success" ng-click="activePartyResult.onMakePartyReady()" ng-show="!activeParty.ready && userInfo.role >= 2">扣款！</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                        </div>
                        <!-- orders list -->
                        <div class="row">
                            <!-- 已扣款的 party 不需要限制 table 高度 -->
                            <div ng-class="{ 'table-container': !activeParty.ready }" class="orders-list panel panel-default">
                                <!-- table -->
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>吃什麼</th>
                                            <th>價錢</th>
                                            <th>誰訂了</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="orderSummary in orderSummaries | productFilter:productFilterValue" ng-class="{active: orderSummary === selectOrderSummary}">
                                            <td>
                                                <a href="" ng-click="clickOrder(orderSummary)">
                                                    {{ orderSummary.product }}
                                                    <span ng-show="orderSummary.comments > 0" class="badge">{{ orderSummary.comments }}</span>
                                                    <span ng-show="orderSummary.newProduct" title="還未添加到店家！" class="badge">new</span>
                                                </a>
                                            </td>
                                            <td>{{ orderSummary.price | currency }}</td>
                                            <td>
                                                <span
                                                  ng-repeat="user in orderSummary.users">
                                                    <span
                                                      ng-class="{ 'label-primary': userID == user.id, 'label-default': userID != user.id }"
                                                      class="tag label box-shadow--2dp">
                                                        <span>{{user.name}}</span>
                                                        <a 
                                                        ng-show="userID == user.id && activeParty.available(today)" 
                                                        ng-click="orderSummaries.onDeleteOrder(user)">
                                                            <i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i>
                                                        </a>
                                                        
                                                    </span>
                                                    <br ng-if="$index % 5 == 4">
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- ready to order -->
                        <div class="row" ng-show="activeParty.available(today)" class="ready-to-order">
                            <form name="orderForm" ng-submit="inputOrder.submitOrder()">
                                <!-- ready to order -->
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>菜單：
                                            <input type="text" name="inputProduct" placeholder="菜單上沒有？直接輸入" ng-model="inputOrder.productName" required>
                                        </label>
                                        <label>
                                            金額：
                                            <input type="text" name="inputPrice" placeholder="金額" ng-model="inputOrder.price" required>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label>備註：</label>
                                        <input type="text" name="inputNote" placeholder="如有特殊需求可在此說明" ng-model="inputOrder.note" class="form-control">
                                    </div>
                                    
                                    <div>
                                        <small>
                                            <p>小提醒：</p>
                                            <ol>
                                                <li>訂購後不會直接扣款。</li>
                                                <li>便當團截止前，訂單都可以取消。</li>
                                                <li>飲料的糖、冰塊等額外需求，直接加在備註即可。</li>
                                            </ol>
                                        </small>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <!-- ready to order -->
                                    <div class="form-group">
                                        <!-- submission -->
                                        <input 
                                          ng-disabled="(inputOrder.productName == '') || (inputOrder.price == 0)" 
                                          type="submit" id="submit" value="訂購" 
                                          class="btn btn-success btn-lg btn-block" 
                                          title="在結算之前，不會扣款！" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of main-view -->
    </div>

    <!-- scripts -->
    <!-- script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script -->
    <!-- script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script -->
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- script type="text/javascript" src="material/js/material.min.js"></script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

    <script type="text/javascript" src="javascripts/moment.min.js"></script>
    <script type="text/javascript" src="javascripts/locales.min.js"></script>
    <script type="text/javascript" src="javascripts/humanize-duration.js"></script>
    <script type="text/javascript" src="javascripts/angular-timer.min.js"></script>
    <script type="text/javascript" src="javascripts/loading-bar.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

    <!-- user scripts -->
    <script type="text/javascript" src="javascripts/cookies.js"></script>
    <script type="text/javascript" src="javascripts/main-module.js"></script>

    <!-- angular services -->
    <script type="text/javascript" src="javascripts/services/user-info.js "></script>

    <script type="text/javascript" src="javascripts/controllers/controller-tools.js"></script>
    <script type="text/javascript" src="javascripts/controllers/header.js"></script>
    <script type="text/javascript" src="javascripts/controllers/index.js"></script>
</body>

</html>